.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-inline: 50px;
  margin-bottom: 10%;
}

p {
  margin: 6%;
}

img {
  margin-top: 4%;
}

.grid_3-2 img,
.grid_2-3 img {
  width: 100%;
  height: auto; /* Bevarer billedets proportioner */
}

.grid_1-1-1 img {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Sikrer ensartet størrelse */
}

/** find os her knap **/
.udvalg-knap {
  background-color: white;
  height: 40px;
  font-size: 0.8rem;
  margin-inline: auto;
  display: block;
  text-decoration: none;
  color: black;
  border: solid;
  text-align: center;
  padding: 2.5%;
  width: 150px;
}

.udvalg-knap:hover {
  background-color: var(--hover-color); /* Mørkegrøn farve */
  color: white; /* Hvid pil */
}

@media (min-width: 768px) {
  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  #order1 {
    order: 1;
  }
  .grid_1-2 img {
    order: -1;
  }
  .right {
    margin-right: 2%;
  }

  .left {
    margin-bottom: 0;
    margin-bottom: 3%;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 100px;
    margin-bottom: 10%;
  }
  /** find os her knap **/
  .udvalg-knap {
    margin-inline: auto 0;
    padding: 1.5%;
    width: 150px;
  }

  img {
    margin: 5%;
  }
}
