@media (min-width: 768px) {
  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  #order1 {
    order: 1;
  }
  .grid_1-2 img {
    order: -1;
  }
}
