.grid_container_1,
.grid_container_2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 24px;
}

.grid_container_2 {
  width: 100%;
  height: auto; /* Bevarer billedets proportioner */
}

@media (min-width: 770px) {
  .grid_container_1 {
    flex-direction: row;
  }
  .grid_container_2 {
    flex-direction: row-reverse;
  }
  .form_wrapper,
  .maps_embed,
  .kontakt_tekst_2,
  .kontakt_img {
    width: 50%;
  }
}
.form-felt,
.placeholder {
  width: 100px;
  font-family: montserrat;
}
.submit {
  background-color: #ffffff;
  font-family: maven pro;
  padding: 4px;
  min-height: 24px;
  min-width: 80px;
  margin: 12px;
  border-color: #6b6b3d;
}
.submit:hover {
  cursor: pointer;
  background-color: #6b6b3d;
  color: #ffffff;
}
